iframe {
    width: 700px;
    height: 700px;
    margin-top: 10px;
}

.submenuContacts {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    button {
        padding: 3vw;
        border-bottom: 1px solid white;
    }
    .activeButton{
        color: green;
        font-weight: 600;
        border-bottom: 2px solid green;
    }
}

.address {
    font-size: inherit;
    min-width: 100vw;
    padding: 4vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    b {
        display: block;
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
}

.infoAddress{
    margin-top: 50px;
    margin-right: 1vw;
    max-width: 600px;
}

.worktime{
    padding: 4vw;
    display: flex;
    p {
        padding: 30px;
    }
}

.social {
    min-height: 40vh;
    padding: 4vw;
}

.details {
    padding: 4vw;
    .detailsTitle {
        margin-left: 0;
        margin-bottom: 70px;
        color: rgb(43, 108, 11);
        padding-right: 60px;
        padding-bottom: 30px;
        border-bottom: 4px solid rgb(43, 108, 11);
        max-width: 800px;
        b {
            display: block;
        }
    }
    div {
        margin-top: 30px;
        margin: 3vw;
        padding-bottom: 30px;
        border-bottom: 2px solid rgb(221, 221, 221);
        max-width: 700px;
    }
}

.greenTitle {
    display: block;
    font-size: 50px;
}

.indicators {
    padding: 5vw;
    b {
        margin-bottom: 40px;
        display: block;
    }
    p {
        margin-bottom: 20px;
    }
    img {
        width: 30px;
    }
}

.titleContacts {
    position: relative;
    width: 100vw;
    height: auto;
    z-index: -3;
    img {
        width: 100vw;
        position: relative;
        z-index: -1;
    }
    h2 {
        position: absolute;
        top: calc(50% - (6vw / 2)); 
        left: calc(50% - ((6vw * (9/3)))); 
        color: white;
        font-size: 6vw;
        transform: none;
        
    }
}

@media (max-width: 768px) {
    iframe {
        width: 460px;
        height: 460px;
    }
    .infoAddress{
        max-width: 470px;
    }
    .greenTitle {
        font-size: 30px;
    }
  }
  
@media (max-width: 480px) {
    iframe {
        width: 340px;
        height: 350px;
    }
    .infoAddress{
        max-width: 350px;
    }
    .detailsTitle {
        font-size: 20px;
    }
}