.windowHouses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleHouses {
    position: relative;
    width: 100vw;
    height: auto;
    z-index: -3;
    img {
        width: 100vw;
        position: relative;
        z-index: -1;
    }
    h2 {
        position: absolute;
        top: calc(50% - (6vw / 2)); 
        left: calc(50% - ((6vw * (10/3))  )); 
        color: white;
        font-size: 6vw;
        transform: none;
        
    }
}

