.main {
    background-color: rgb(163, 163, 163);
} 

h2 {
    font-size: 40px;
}

.showmenu1 {
    background-color: rgb(242, 231, 217);
    color: rgb(40, 99, 40);
}

.showmenu2 {
    background-color: rgb(239, 255, 226);
    color: rgb(174, 156, 133);
    button {
        color: rgb(40, 99, 40);
    }
}

.submenu {
    display: flex;
    align-items: center;
    justify-content: center;
    
    button {
        padding: 30px;
        border-bottom: 1px solid white;
    }
    .activeButton{
        color: green;
        font-weight: 600;
        border-bottom: 2px solid green;
    }
}

.about {
    
    
    >div {
        padding: 5vw;
        padding-right: 0px;
        display: flex;
        justify-content: space-between;
    }
    .info {
        margin-top: 100px;
        width: 50%;
    }
    p {
        margin-top: 40px;
    }
    img {
        display: block;
        position: relative;
        width: 40%;
        object-fit: cover;
    }
    .targets {
        display:block;
        background-color: rgb(226, 255, 195);
        color: rgb(174, 156, 133);
        p {
            margin-top: 10px;
        }
    }
}

.docs {
    padding: 4vw;
    padding-bottom: 0px;
    min-height: 90vh;
    flex-wrap: wrap-reverse;
    
    img {
        margin-left: 0px;
        display: block;
        position: relative;
        //height: 700px;
        width: 500px;
        object-fit: cover;
        margin-left: -60px;
    }
    >div {
        width: 430px;
        margin-left: 4vw;
        margin-top: 50px;
        padding-bottom: 20px;
    }
    .titleDocs {
        margin-bottom: 50px;
    }
    h2 {
        margin: 0;
    }
}

.image {
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    position: relative; 
    margin-top: 15px;
    padding-left: 20px;
    a {
        color: rgb(174, 156, 133);
        font-size: inherit;
    }
  }
  
  li::before {
    content: "•";
    position: absolute;
    font-size: 40px;
    left: 0; 
    top:-0.4em;
    color: rgb(174, 156, 133);
  }

  @media (max-width: 768px) {
    h2 {
        font-size: 35px;
    }
  }

@media (max-width: 480px) {
    .submenu {
        button {
            padding: 20px 10px;
        }
    }

    h2 {
        font-size: 25px;
    }

    .about {
        >div {
            padding-right: 3vw;
        }
        .info {
            width: 100%;
            margin-top: 50px;
        }
        img {
            display: none;
        }
    }
    .docs {
        img {
            display: none;
        }
    }
}