
.header {
    background-color: rgb(249, 249, 249);
    width: 100vw;
  }
  
.upHeader {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(132, 190, 132);
  >div{
    display: flex;
    align-items: center;
  }
  p {
    font-size: 12px;
  }
}
 


.logo {
  margin-right: 10px;
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 0%;
  z-index: 0;
}

  .menu {
    position: relative;
    display: flex;
    justify-content:space-between;
    z-index: 100;
    padding: 20px 60px 40px 60px;
    a {
      margin-right: 20px;
      font-size: 25px;
    }
  }

.mobileMenuButton {
  display: none;
}

.mobileMenu {
  display: none;
}

  @media (max-width: 768px) {
    .menu {
      padding: 10px 50px 20px 50px;
      a {
        font-size: 16px;
      }
      
    }
    .logo {
      width: 90px;
      height: 90px;
    }
    .number {
      position: absolute;
      right: 5px;
      top: 65px;
      font-size: 18px;
    }
    
  }

  @media (max-width: 480px) {
    .menu {
      display: none;
    }
    .logo {
      width: 80px;
      height: 80px;
    }
    .number {
      font-size: 12px;
    }
    .header {
      font-size: 12px;
      position: sticky;
      top: 0;
    }
    .mobileMenuButton {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      img {
        width: 35px;
      }
    }
    
    .mobileMenuClose {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      img {
        width: 30px;
      }
    }
    .mobileMenu {
      width: 100vw;
      background-color: white;
      display: block;
      top: 0;
      position: fixed;
      z-index: 10000;
      padding: 50px 50px;
      a {
        display: block;
        margin: 10px;
        font-size: 20px;
      }
    }
  }
  
  
  .menuLink {
    text-decoration: none;
    color: rgb(65, 65, 65);
  }

  .menuLink:hover {
    color: rgb(69, 113, 70);
  }

