*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  color: rgb(61, 60, 60);
  background-color: rgb(75, 207, 170);
  font-size: 20px;
}

h1 {
  margin-top: 15px;
  z-index: 100;
}

h2 {
  font-size: 25px;
  margin-left: 6px;
  margin-bottom: 15px;
}

.header {
  background-color: rgb(176, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.logoHeader {
  position: absolute;
  width: 100vw;
  bottom: 0%;
  z-index: 0;
}

.menu {
  position: fixed;
  margin-top: 75px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  z-index: 100;
  padding: 15px;
  padding-left: 0;
  border-radius: 15px;
  background-color: rgb(24, 110, 24);
}

.menuLink {
  padding: 5px;
  border-radius: 7px;
}

.menuLink:hover {
  background-color: rgb(11, 138, 15);
}

.menuScrolled {
  margin-top: 0px;
  border-radius: 0px;
  width: 100vw;
  background-color: rgb(4, 35, 0);
}

.menuLink {
  margin-left: 15px;
  color: rgb(236, 236, 236);
  text-decoration: none;
}

.mainWindow {
  height: 100vh;
  width: 100vw;;
}

.mainWindow > div {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.window {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  min-height: 85vh;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative; 
  padding-left: 20px;
}

li::before {
  content: "•";
  position: absolute; 
  left: 0; 
  top:-0.2em;
  color: #00cc29; 
  font-size: 1.5em; 
}

.board {
  border: 2px solid rgb(85, 233, 142);
  border-radius: 12px;
  background-color: rgb(223, 255, 240);
  padding: 15px;
  margin: 8px;
  width:fit-content;
}

.board p {
  margin-bottom: 3px;
}

.board a {
  color: rgb(2, 136, 53);
  margin-bottom: 3px;
}