@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.backButton{
  position: relative;
  z-index: 0;
  left: -47vw;
  top: 35px;
}

.buttonUp {
  position: fixed;
  bottom: 20px;
  right: 2vw;
  padding: 5px;
  width: 37px;
  border-radius: 50%;
  transition: 0.5s ;
  opacity: 0.5;
}

.buttonUp:hover {
  background-color: rgb(186, 186, 186);
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: rgb(65, 65, 65);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: rgb(65, 132, 66);
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(66, 66, 66);
  background-color: rgb(249, 249, 249);
  font-size: 18px;
  overflow-x: hidden;
}

h2 {
  font-size: 25px;
  margin-left: 6px;
  margin-bottom: 15px;
}

.mainWindow {
  width: 100vw;
  min-height: 620px;
}

table {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 80%;
  font-size: inherit;
  thead {
    background-color: rgb(226, 255, 195);
    font-weight: 200;
  }
  th {
    border: 2px solid rgb(180, 180, 180);
    padding: 0.5vw 1vw;
  }
  td {
    text-align: center;
    padding: 0.3vw;
    border: 1px solid rgb(180, 180, 180);
  }
  a {
    margin: 0;
  }

  tbody {
    tr {
      transition: background-color 0.3s ease-in-out;
    }
    tr:hover {
      background-color: rgb(242, 231, 217);
    }
    th {
      font-weight: 300;
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  table {
    width: auto;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  table {
    font-size: 10px;
  }
}
